<section class="catalog" id="catalog-section">
  <div class="container">
    <h2 class="title-catalog">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-1-1x.png 1x,
                  /img/catalog/watch-1-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-1-1x.png 1x,
                  /img/catalog/watch-1-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-1-1x.png 1x,
                  /img/catalog/watch-1-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-1-1x.png"
                alt="Garmin-Fenix-7X-Pro-Sapphire-Solar"
                class="catalog-images"
              />
            </picture>
          </div>
          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-text">€500</p>
          </div>
          <div class="back">
            <p class="flip-text">
              The pinnacle of adventure, combining rugged durability with
              advanced solar technology for extended exploration in any
              environment.
            </p>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-2-1x.png 1x,
                  /img/catalog/watch-2-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-2-1x.png 1x,
                  /img/catalog/watch-2-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-2-1x.png 1x,
                  /img/catalog/watch-2-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-2-1x.png"
                alt="Garmin-Marq-Athlete"
                class="catalog-images"
              />
            </picture>
          </div>
          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
            <p class="catalog-text">€450</p>
          </div>
          <div class="back">
            <p class="flip-text">
              Precision meets performance in this luxury smartwatch designed for
              athletes, offering tailored training metrics and premium
              materials.
            </p>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-3-1x.png 1x,
                  /img/catalog/watch-3-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-3-1x.png 1x,
                  /img/catalog/watch-3-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-3-1x.png 1x,
                  /img/catalog/watch-3-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-3-1x.png"
                alt="Garmin-Descent-MK1 "
                width="368"
                class="catalog-images"
              />
            </picture>
          </div>

          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
            <p class="catalog-text">€680</p>
          </div>
          <div class="back">
            <p class="flip-text">
              Dive into the depths with confidence using this specialized dive
              computer, featuring advanced sensors and dive mode tracking.
            </p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-4-1x.png 1x,
                  /img/catalog/watch-4-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-4-1x.png 1x,
                  /img/catalog/watch-4-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-4-1x.png 1x,
                  /img/catalog/watch-4-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-4-1x.png"
                alt="Garmin-D2-Delta-PX"
                class="catalog-images"
              />
            </picture>
          </div>
          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
            <p class="catalog-text">€380</p>
          </div>
          <div class="back">
            <p class="flip-text">
              Aviation excellence on your wrist, with advanced mapping, pulse
              oximeter, and pilot-friendly features for enhanced flight
              performance.
            </p>
          </div>
        </div>
      </li>

      <li class="catalog-item hidden">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-5-1x.png 1x,
                  /img/catalog/watch-5-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-5-1x.png 1x,
                  /img/catalog/watch-5-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-5-1x.png 1x,
                  /img/catalog/watch-5-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-5-1x.png"
                alt="Garmin-Fenix-6-Pro-Solar"
                class="catalog-images"
              />
            </picture>
          </div>
          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-text">€400</p>
          </div>
          <div class="back">
            <p class="flip-text">
              Harness the power of the sun with solar charging capabilities,
              packed into a robust multisport watch for active lifestyles.
            </p>
          </div>
        </div>
      </li>

      <li class="catalog-item hidden">
        <div class="flip">
          <div class="catalog-div front">
            <picture>
              <source
                srcset="
                  /img/catalog/watch-6-1x.png 1x,
                  /img/catalog/watch-6-2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog/watch-6-1x.png 1x,
                  /img/catalog/watch-6-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/catalog/watch-6-1x.png 1x,
                  /img/catalog/watch-6-2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                src="/img/catalog/watch-6-1x.png"
                alt="Tube-Watch-S42-Date-Steel-With-Black-Case"
                class="catalog-images"
              />
            </picture>
          </div>
          <div class="catalog-item-div front">
            <h3 class="catalog-subtitle">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-text">€395</p>
          </div>
          <div class="back">
            <p class="flip-text">
              A timeless blend of elegance and functionality, featuring a sleek
              black case and precise date display, perfect for everyday wear.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button class="show-more-btn">Show more</button>
  </div>
</section>
