<header class="page-header">
    <div class="container header-container">
      <nav class="header-nav">
        <a href="/index.html" class="header-logo">watchcharm</a>
         <ul class="nav-list">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="" class="nav-link">Catalog</a></li>
            <li class="nav-item"><a href="" class="nav-link">Sale</a></li>
            <li class="nav-item"><a href="" class="nav-link">Reviews</a></li>
            <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
         </ul>
      </nav>  
      <ul class="soc-link-list">
        <li class="soc-icon">
            <a href="https://www.facebook.com/goITclub/" class="soc-icon-link">
                <svg class="soc-icon-svg" width="20" height="20">
                    <use href="/img/svg/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="soc-icon">
            <a href="https://www.instagram.com/goitclub/" class="soc-icon-link">
                <svg class="soc-icon-svg" width="20" height="20">
                    <use href="/img/svg/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="soc-icon">
            <a href="https://www.youtube.com/c/GoIT " class="soc-icon-link">
                <svg class="soc-icon-svg" width="20" height="20">
                    <use href="/img/svg/icons.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
      </ul>
      <button class="burger-btn">
        <svg class="burger-icon" width="34" height="16">
            <use href="/img/svg/icons.svg#icon-Icon"></use>
        </svg>
      </button>
    </div>
</header>
