<div class="modal-overlay">
    <div class="modal-container">
      <button class="close-button">
        <svg class="close-x" width="40" height="40">
          <use href="/img/svg/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-content">
        <ul class="modal-links">
          <li><a href="./index.html">Home</a></li>
          <li><a href="#about-section">About Us</a></li>
          <li><a href="#catalog-section">Catalog</a></li>
          <li><a href="#sale-section">Sale</a></li>
          <li><a href="#reviews-section">Reviews</a></li>
          <li><a href="#contact-section">Contact Us</a></li>
        </ul>
        <div class="social-icons">
          <ul>
            <li>
              <svg class="facebook-modal" width="20" height="20">
                <use href="/img/svg/icons.svg#icon-facebook"></use>
              </svg>
            </li>
            <li>
              <svg class="instagram-modal" width="20" height="20">
                <use href="/img/svg/icons.svg#icon-instagram"></use>
              </svg>
            </li>
            <li>
              <svg class="youtube-modal" width="20" height="20">
                <use href="/img/svg/icons.svg#icon-youtube"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  