<div class="modal-overlay">
  <div class="modal-window">
    <button class="close-button" type="button">
      <svg width="34" height="34" class="mobile-menu-close-icon">
        <use href="/img/svg/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="modal-nav-list">
      <li class="modal-nav-item">
        <a href="index.html" class="modal-nav-link">Home</a>
      </li>
      <li class="modal-nav-item">
        <a href="#about-section" class="modal-nav-link">About Us</a>
      </li>
      <li class="modal-nav-item">
        <a href="#catalog-section" class="modal-nav-link">Catalog</a>
      </li>
      <li class="modal-nav-item">
        <a href="#sale-section" class="modal-nav-link">Sale</a>
      </li>
      <li class="modal-nav-item">
        <a href="#reviews-section" class="modal-nav-link">Reviews</a>
      </li>
      <li class="modal-nav-item">
        <a href="#contact-section" class="modal-nav-link">Contact Us</a>
      </li>
    </ul>

    <ul class="modal-soc-link-list">
      <li class="modal-soc-icon">
        <a
          href="https://www.facebook.com/goITclub/"
          class="soc-icon-link"
          target="_blank"
        >
          <svg class="soc-icon-svg" width="18" height="18">
            <use href="/img/svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="modal-soc-icon">
        <a
          href="https://www.instagram.com/goitclub/"
          class="soc-icon-link"
          target="_blank"
        >
          <svg class="soc-icon-svg" width="18" height="18">
            <use href="/img/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="modal-soc-icon">
        <a
          href="https://www.youtube.com/c/GoIT "
          class="soc-icon-link"
          target="_blank"
        >
          <svg class="soc-icon-svg" width="18" height="18">
            <use href="/img/svg/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
