<div class="modal-overlay">
    <div class="modal modal-tablet">
        <button class="close-button">
            <svg class="close-x" width="40" height="40">
                <use href=""></use>
            </svg>
        </button>
        <div class="modal-a-text">
            <ul>
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="#about-section">About Us</a>
                </li>
                <li>
                    <a href="#catalog-section">Catalog</a>                    
                </li>
                <li>
                    <a href="#sale-section">Sale</a>
                </li>
                <li>
                    <a href="#reviews-section">Reviews</a>
                </li>
                <li>
                    <a href="#contact-section">Contact Us</a>
                </li>
            </ul>
           <div class="icon-ul">
                <ul>
                    <li>
                        <svg class="facebook-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="instagram-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="youtube-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                </ul>
           </div>
        </div>

    </div>
</div>

<div class="modal-overlay">
    <div class="modal modal-mobilex">
        <button class="close-button">
            <svg class="close-x" width="40" height="40">
                <use href=""></use>
            </svg>
        </button>
        <div class="modal-a-text">
            <ul>
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="#about-section">About Us</a>
                </li>
                <li>
                    <a href="#catalog-section">Catalog</a>                    
                </li>
                <li>
                    <a href="#sale-section">Sale</a>
                </li>
                <li>
                    <a href="#reviews-section">Reviews</a>
                </li>
                <li>
                    <a href="#contact-section">Contact Us</a>
                </li>
            </ul>
           <div class="icon-ul">
                <ul>
                    <li>
                        <svg class="facebook-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="instagram-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="youtube-modal" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </li>
                </ul>
           </div>
        </div>

    </div>
</div>

