<section class="review">
  <div class="container">
    <h2 class="review-name">Reviews</h2>
    <ul class="review-ul">
      <li class="review-li">
        <img
          srcset="/src/img/member-2.png 1x, /src/img/member-2@2x.png 2x"
          src="/src/img/member-2.png"
          alt="A man with black hair and glasses"
          width="56"
          height="56"
        />
        <h3 class="review-h3">John Wax</h3>
        <p class="review-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
    </ul>
  </div>
</section>
