<section class="sale" id="sale-section">
  <div class="container">
    <h2 class="secondary-title">Sale</h2>
    <div class="sale-content-wrapper">
      <div class="sale-group">
        <ul class="sale-list">
          <li class="sale-item-container">
            <img
              srcset="
                /img/sale.section.img/watch-1-min.png    1x,
                /img/sale.section.img/watch-1@2x-min.png 2x
              "
              src="/img/sale.section.img/watch-1-min.png"
              alt="watch preview"
            />
          </li>

          <li class="sale-item-container">
            <img
              srcset="
                /img/sale.section.img/watch-2-min.png    1x,
                /img/sale.section.img/watch-2@2x-min.png 2x
              "
              src="/img/sale.section.img/watch-2-min.png"
              alt="watch preview"
            />
          </li>

          <li class="sale-item-container">
            <img
              srcset="
                /img/sale.section.img/watch-3-min.png    1x,
                /img/sale.section.img/watch-3@2x-min.png 2x
              "
              src="/img/sale.section.img/watch-3-min.png"
              alt="watch preview"
            />
          </li>

          <li class="sale-item-container">
            <img
              srcset="
                /img/sale.section.img/watch-4-min.png    1x,
                /img/sale.section.img/watch-4@2x-min.png 2x
              "
              src="/img/sale.section.img/watch-4-min.png"
              alt="watch preview"
            />
          </li>
        </ul>
        <div class="sale-product">
          <div class="sale-product-image">
            <img
              srcset="
                /img/sale.section.img/watch-big-min.png    1x,
                /img/sale.section.img/watch-big@2x-min.png 2x
              "
              src="/img/sale.section.img/watch-big-min.png"
              alt="MARQ Commander watch"
            />
          </div>
        </div>
      </div>

      <div class="sale-product-content">
        <h3 class="product-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>

        <p class="product-tag">Product tag: 706587</p>

        <div class="product-price">
          <span class="price-current">€1500</span>
          <span class="price-old">€3000</span>
        </div>

        <p class="product-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="product-tags">
          <li class="tag">Fused carbon fiber</li>
          <li class="tag">Grade-5 Titanium</li>
          <li class="tag">Athlete</li>
          <li class="tag">Golfer</li>
          <li class="tag">Commander</li>
          <li class="tag">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
