.advertisement-container {
  background-image: url(/img/advertisement-mobile.png);
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 60px 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .advertisement-container {
    background-image: url(/img/advertisement-mobile-2x.png);
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .advertisement-container {
    background-image: url(/img/advertisement-tablet.png);
    padding: 80px 64px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .advertisement-container {
    background-image: url(/img/advertisement-tablet-2x.png);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .advertisement-container {
    background-image: url(/img/advertisement-desktop.png);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 83px 80px;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .advertisement-container {
    background-image: url(/img/advertisement-desktop-2x.png);
  }
}

.advertisement-text {
  font-family: var(--semibold-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.advertisement-text-accent {
  color: rgba(251, 251, 251, 0.5);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .advertisement-text {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .advertisement-text {
    max-width: 690px;
    margin-bottom: 0;
    margin-right: 140px;
  }
}

.advertisement-link {
  display: inline-block;
  width: 160px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 44px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.advertisement-link:hover,
.advertisement-link:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
