:root {
  --main-font: 'Gilroy Medium', sans-serif;
  --semibold-font: 'Gilroy Semibold', sans-serif;
  --text-color: rgba(12, 12, 12, 0.7);
  --page-background: #fbfbfb;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--text-color);
  background-color: var(--page-background);
}
