

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}
  .catalog {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
  }
  
    .title-catalog {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin: 0 0 24px 0;
    }
  
  .catalog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }
  
  .catalog-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    width: 335px;
    height: 364px;
    background: #f3f3f3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    position: relative;
  }
  
  .catalog-images {
    width: 208px;
    height: 226px;
    margin: 42px auto 0;
    display: block;
    object-fit: contain;
  }
  
  .catalog-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-top: 28px;
    margin-left: 28px;
  }
  
  .catalog-text {
    font-size: 14px;
    color: #888;
    margin: 0;
    margin-left: 28px;
  }

  .catalog-item.hidden {
    display: none;
  }
  
  .show-more-btn {
    display: block;
    margin: 40px auto 0;
    padding: 15px 44px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    background: #3350e9;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
  }

    @media screen and (min-width: 768px) {
        .container {
            max-width: 704px;
            padding-left: 32px;
            padding-right: 32px;
            margin: 0 auto;
          }
        .catalog {
        
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .title-catalog {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 48px;
            line-height: 92%;
            letter-spacing: -0.02em;
            color: #0c0c0c;
            margin: 0 0 40px 0;
        }

        .catalog-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 32px 16px;
          }
        
          .catalog-item {
            width: calc((100% - 16px) / 2);
            border: 1px solid rgba(12, 12, 12, 0.05);
            border-radius: 30px;
            height: 414px;
            background: #f3f3f3;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: left;
            position: relative;
            max-width: 344px;
          }
         
          .catalog-images {
            width: 268px;
            height: 292px;
            margin: 34px auto 0;
            display: block;
            object-fit: contain;
        }

        .catalog-subtitle {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #0c0c0c;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 20px;
            margin-left: 32px;
        }

        .catalog-text {
            font-size: 14px;
            color: #888;
            margin-left: 32px;
            margin-top: -8px;
        }

            .catalog-item.hidden {
              display: flex;
            }
          
            .show-more-btn {
              display: none;
            }
          
      }

      @media screen and (min-width: 1280px) {
        .container {
            max-width: 1150px;
            padding-left: 65px;
            padding-right: 65px;
        }
      
        .catalog-list {
            gap: 32px 23px;
        }
      
        .catalog-item {
          width: calc((100% - 46px) / 3); 
          height: 414px;
          max-width: 368px;
        }
      }