.review-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.review-ul {
  display: flex;
  gap: 20px;
  overflow: auto;
}

.review-li {
  display: flex;
  box-sizing: border-box;
  min-width: 335px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  padding: 32px 36px;
  background: #f3f3f3;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .review-li {
    min-width: 280px;
  }
}

.review-li img {
  margin-bottom: 24px;
}

.review-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.review-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

/* .second-review,
.third-review {
  display: none;
} */

@media screen and (min-width: 768px) {
  .second-review {
    display: flex;
  }

  .review-name {
    font-size: 48px;
    line-height: 0.91667;
  }

  .review-ul {
    display: flex;
    gap: 16px;
  }

  .review-li {
    min-width: 344px;
    width: calc((100% - 16px) / 2);
    height: auto;
  }

  .review-h3 {
    font-size: 18px;
    line-height: 1.1;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .second-review,
  .third-review {
    display: flex;
  }

  .review-name {
    font-size: 48px;
    line-height: 0.91667;
  }

  .review-li {
    max-width: 370px;
    width: calc((100% - 40px) / 3);
  }

  .review-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .review-h3 {
    font-size: 18px;
    line-height: 1.1;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
